.scroll-container {
  overflow: auto;
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Chrome, Edge, Safari (WebKit-based browsers) */
.scroll-container::-webkit-scrollbar {
  height: 3px; /* horizontal scrollbar */
  width: 3px;  /* vertical scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

